
crispy-bootstrap5
Django
django-crispy-forms
gunicorn==21.2.0
packaging==23.2
Pillow
psycopg2-binary==2.9.9
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
python-dotenv
