
{% extends 'base.html' %}
{% block content %}


        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post_detail.content}}!</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{post_detail.date_added}} by {{request.user}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post_detail.Category}}</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{post_detail.post_image.url}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p>{{post_detail.blog_content}}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
     
                    </section>
                </div>
   
            </div>
        </div>

        {% endblock %}